
    <form action="/segunda" method="post">
        <p >titulo</p>
        <input type="text" id="titulo" name="titulo">
        <p>conteudo</p>
        <textarea name="conteudo" id=""></textarea>
        <button type="submit">enviar</button>
    </form>
